{% extends 'contents.html' %}

{% block imageblock %}
<div class="row" style="background:#ffffff;">
<!--            -->       
    <div class="col-sm-11 col-md-6">
<!--            -->
        <div class="file-upload">
            <form action="/img-inference" method="POST" enctype="multipart/form-data" style="background:#ffffff; border-color:#ffffff;">
            
<!------------------------------------------------------------------------------------------->            
            {% if output_img %}
                <div class="image-upload-wrap" style="display: none;">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name='image'/>
                    <!-- for clicking the 'inference' button when already inferenced -->
                    <input value="./static/input.png" type='hidden' name='image_path'/>
                    <div class="drag-text">
                        <h3>Drag and drop or click</h3>
                    </div>
                </div>
            
                <div class="file-upload-content" style="display: inline;">
                    <img class="file-upload-image" src="{{ input_img }}"/>
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image col-6 col-6-medium col-6-small"><span>Clear</span></button>
                        <button type="submit" class="file-upload-btn col-6 col-6-medium col-6-small"><span>Inference</span></button>
                    </div>
                </div> 
            {% else %}
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name='image'/>
                    <div class="drag-text">
                        <h3>Drag and drop or click</h3>
                    </div>
                </div>
            
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image col-6 col-6-medium col-6-small"><span>Clear</span></button>
                        <button type="submit" class="file-upload-btn col-6 col-6-medium col-6-small"><span>Inference</span></button>
                    </div>
                </div> 
            {% endif %}
<!------------------------------------------------------------------------------------------->
            
            </form>
        </div>
<!--            -->
    </div>
    {% block result %}{% endblock %}
<!--            -->       
</div>
{% endblock %}

    